<html>
<head>
<style>
body {font-family: sans-serif;
	font-size: 10pt;
}
p {	margin: 0pt; }
table.items {
	border: 0.1mm solid #000000;
}
td { vertical-align: top; }
.items td {
	border-left: 0.1mm solid #000000;
	border-right: 0.1mm solid #000000;
}
table thead th { background-color: #EEEEEE;
	text-align: center;
	border: 0.1mm solid #000000;
	font-variant: helvetica;
}
.items td.blanktotal {
	background-color: #EEEEEE;
	border: 0.1mm solid #000000;
	border: 0mm none #000000;
	border-top: 0.1mm solid #000000;
	border-right: 0.1mm solid #000000;
}
.items td.subtotaltitle {
	background-color: {{ SUBTOTAL_TITLE_BACKGROUNDCOLOR }};
	border: 0.1mm solid #000000;
	border: 0mm none #000000;
	border-top: 0.1mm solid #000000;
	border-bottom: 0.1mm solid #000000;
	border-right: 0.1mm solid #000000;
}
.items td.subtotalsubtotal {
	background-color: {{ SUBTOTAL_SUBTOTAL_BACKGROUNDCOLOR }};
	border: 0.1mm solid #000000;
	border: 0mm none #000000;
	border-top: 0.1mm solid #000000;
	border-bottom: 0.1mm solid #000000;
	border-right: 0.1mm solid #000000;
}
.items td.totals {
	text-align: right;
	border: 0.1mm solid #000000;
}
.items td.cost {
	text-align: "." right;
}
</style>
</head>
<body>

<!--mpdf
<htmlpageheader name="myheader">
<table width="100%">
<tr>
<td align="center"><img src="{{ logo }}" height="80px"/></td>
<td width="40%" style="color:#0000BB; ">
	<span style="font-weight: bold; font-size: 14pt;">{{ mysoc.name }}</span><br />
	{{ mysoc.address }}<br />
	{{ mysoc.zip }} {{ mysoc.town }}<br />
	<img src="{{ mysoc.flag }}"> {{ mysoc.country }}<br />
	<span style="font-family:dejavusanscondensed;">&#9742; </span>{{ mysoc.phone }}<br />
	<span style="font-family:dejavusanscondensed;">&#9993; </span>{{ mysoc.email }}<br />
	{{ mysoc.tvanumber }}<br />
</td>
<td width="40%" style="text-align: right;">
<span style="font-weight: bold; font-size: 12pt;">{{ doctitle }}: {{ object.ref }}</span>
<br /><span style="font-weight: bold; font-size: 12pt;">{{ date }}: {{ object.date }}</span>
{% if object.ref_customer %}
	<br /><span style="font-weight: bold; font-size: 12pt;">{{ ref_customer }}: {{ object.ref_customer }}</span>
{% endif %}
{% if object.ref_project %}
	<br /><span style="font-weight: bold; font-size: 12pt;">{{ ref_project }}: {{ object.ref_project }}</span>
{% endif %}
</td>
</tr>
</table>
</htmlpageheader>

<htmlpagefooter name="myfooter">
<div style="border-top: 1px solid #000000; font-size: 6pt; text-align: center; padding-top: 3mm; ">
{{ footerinfo.line3 }}<br />
{{ footerinfo.line4 }}<br />
Page {PAGENO} of {nb}
</div>
</htmlpagefooter>

<sethtmlpageheader name="myheader" value="on" show-this-page="1" />
<sethtmlpagefooter name="myfooter" value="on" />
mpdf-->


<table width="100%" style="font-family: serif;" cellpadding="10">
<tr>
<td width="46%" style="border: 0.1mm solid #888888; ">
<span style="font-size: 7pt; color: #555555; font-family: sans;">SOLD TO:</span><br /><b>{{ thirdparty.name }}</b><br />{{ thirdparty.address }}<br />{{ thirdparty.zip }} {{ thirdparty.town }}<br /><img src="{{ thirdparty.flag }}"> {{ thirdparty.country }}<br />
{% if thirdparty.phone %}
	<span style="font-family:dejavusanscondensed;">&#9742; </span>{{ thirdparty.phone }}<br />
{% endif %}
{% if thirdparty.email %}
	<span style="font-family:dejavusanscondensed;">&#9993; </span>{{ thirdparty.email }}<br />
{% endif %}
</td>
<td width="8%">&nbsp;</td>
<td width="46%" style="border: 0.1mm solid #888888;">
<span style="font-size: 7pt; color: #555555; font-family: sans;">SHIP TO:</span><br /><b>{{ thirdparty.name }}</b><br />{{ thirdparty.address }}<br />{{ thirdparty.zip }} {{ thirdparty.town }}<br /><img src="{{ thirdparty.flag }}"> {{ thirdparty.country }}<br />
{% if thirdparty.phone %}
	<span style="font-family:dejavusanscondensed;">&#9742; </span>{{ thirdparty.phone }}<br />
{% endif %}
{% if thirdparty.email %}
	<span style="font-family:dejavusanscondensed;">&#9993; </span>{{ thirdparty.email }}<br />
{% endif %}
</td>
</tr>
</table>

<br />
<div style="text-align: right">{{ currencyinfo }}</div>

<table class="items" width="100%" style="font-size: 7pt; border-collapse: collapse; " cellpadding="8">
<thead>
<tr>
<th width="15%">{{ ref }}</th>
<th width="40%">{{ description }}</th>
<th width="10%">{{ vat }}</th>
<th width="10%">{{ qty }}</th>
<th width="15%">{{ unitprice_ht }}</th>
<th width="15%">{{ total_ht }}</th>
</tr>
</thead>
<tbody>
<!-- ITEMS HERE -->
{% if lines is iterable %}
	{% for line in lines %}
		<tr>
		{% if line.special_code == 104777 %}
			{% if line.qty == 1 %}
				<!-- SUBTOTAL TITLE -->
				<td class="subtotaltitle" colspan="6" align="left">{{ line.label }}</td>
			{% elseif line.qty == 50 %}
				<!-- SUBTOTAL TEXT -->
				<td class="blanktotal" colspan="6">{{ line.description }}</td>
			{% elseif line.qty == 99 %}
				<!-- SUBTOTAL SUBTOTAL -->
				<td class="subtotalsubtotal" colspan="6" align="right">{{ line.label }}: {{ line.total_ht }}</td>
			{% else %}
				<td class="subtotal" colspan="6" align="left">{{ line.label }}{{ line.qty }}</td>
			{% endif %}
		{% else %}
			<td align="center">{{ line.ref }}</td>
			<td>{{ line.product_label }}<br />{{ line.product_description }}</td>
			<td align="right">{{ line.vatrate }}</td>
			<td align="center">{{ line.qty }}</td>
			<td class="cost">{{ line.subprice }}</td>
			<td class="cost">{{ line.total_ht }}</td>
		{% endif %}
		</tr>
	{% endfor %}
{% else %}
	{# lines is empty #}
	No lines
{% endif %}
<!-- END ITEMS HERE -->
<tr>
<td class="blanktotal" colspan="4" rowspan="3"></td>
<td class="totals">{{ total_ht }}</td>
<td class="totals cost">{{ object.total_ht }}</td>
</tr>
<tr>
<td class="totals">{{ total_tva }}</td>
<td class="totals cost">{{ object.total_tva }}</td>
</tr>
<tr>
<td class="totals"><b>{{ total_ttc }}</b></td>
<td class="totals cost"><b>{{ object.total_ttc }}</b></td>
</tr>
</tbody>
</table>


<div style="text-align: center; font-style: italic;">{{ paymentconditions }}: {{ labelpaymentconditions }}</div>
<div>{{ freetext }}</div>


</body>
</html>
